{% from 'govuk_frontend_jinja/components/accordion/macro.html' import govukAccordion %}
{% from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink %}
{% from 'govuk_frontend_jinja/components/breadcrumbs/macro.html' import govukBreadcrumbs %}
{% from 'govuk_frontend_jinja/components/button/macro.html' import govukButton %}
{% from 'govuk_frontend_jinja/components/character-count/macro.html' import govukCharacterCount %}
{% from 'govuk_frontend_jinja/components/checkboxes/macro.html' import govukCheckboxes %}
{% from 'govuk_frontend_jinja/components/cookie-banner/macro.html' import govukCookieBanner %}
{% from 'govuk_frontend_jinja/components/date-input/macro.html' import govukDateInput %}
{% from 'govuk_frontend_jinja/components/details/macro.html' import govukDetails %}
{% from 'govuk_frontend_jinja/components/error-message/macro.html' import govukErrorMessage %}
{% from 'govuk_frontend_jinja/components/error-summary/macro.html' import govukErrorSummary %}
{% from 'govuk_frontend_jinja/components/fieldset/macro.html' import govukFieldset %}
{% from 'govuk_frontend_jinja/components/file-upload/macro.html' import govukFileUpload %}
{% from 'govuk_frontend_jinja/components/footer/macro.html' import govukFooter %}
{% from 'govuk_frontend_jinja/components/header/macro.html' import govukHeader %}
{% from 'govuk_frontend_jinja/components/hint/macro.html' import govukHint %}
{% from 'govuk_frontend_jinja/components/input/macro.html' import govukInput %}
{% from 'govuk_frontend_jinja/components/inset-text/macro.html' import govukInsetText %}
{% from 'govuk_frontend_jinja/components/label/macro.html' import govukLabel %}
{% from 'govuk_frontend_jinja/components/notification-banner/macro.html' import govukNotificationBanner %}
{% from 'govuk_frontend_jinja/components/panel/macro.html' import govukPanel %}
{% from 'govuk_frontend_jinja/components/phase-banner/macro.html' import govukPhaseBanner %}
{% from 'govuk_frontend_jinja/components/radios/macro.html' import govukRadios %}
{% from 'govuk_frontend_jinja/components/select/macro.html' import govukSelect %}
{% from 'govuk_frontend_jinja/components/skip-link/macro.html' import govukSkipLink %}
{% from 'govuk_frontend_jinja/components/summary-list/macro.html' import govukSummaryList %}
{% from 'govuk_frontend_jinja/components/table/macro.html' import govukTable %}
{% from 'govuk_frontend_jinja/components/tabs/macro.html' import govukTabs %}
{% from 'govuk_frontend_jinja/components/tag/macro.html' import govukTag %}
{% from 'govuk_frontend_jinja/components/textarea/macro.html' import govukTextarea %}
{% from 'govuk_frontend_jinja/components/warning-text/macro.html' import govukWarningText %}

{% extends 'govuk_frontend_jinja/template.html' %}


{% block head %}
  <meta name="description" content="{{config['SERVICE_NAME']}}">
  <meta name="keywords" content="GOV.UK, govuk, gov, government, uk, frontend, ui, user interface, jinja, python, flask, port, template, templating, macro, component, design system, html, forms, wtf, wtforms, widget, widgets, demo, example">
  <meta name="author" content="{{config['DEPARTMENT_NAME']}}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/govuk-frontend-4.7.0.min.css') }}" />
{% endblock %}

{% block header %}
  {{ govukHeader({
    'homepageUrl': url_for('index'),
    'serviceName': config['SERVICE_NAME'],
    'serviceUrl': url_for('index')
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    'tag': {
      'text': config['SERVICE_PHASE']
    },
    'html': 'This is a new service – your <a class="govuk-link" href="mailto:' + 'operations-engineering@digital.justice.gov.uk' +'?subject=Feedback">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}
